#info-view img {
	width: 90%;
	max-width: 300px;
}

#info-view .links {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 32px;
}

.free-stuff p {
	margin: 0;
}

.free-stuff li {
	margin-bottom: 12px;
}
