#schedule {
  user-select: none;
  justify-content: center;
}

.day-label-button {
  background-color: #3a3a3a;
}

.dev-post img {
  height: 100px;
  max-width: 400px;
  width: 100%;
}

.twitter-container {
  max-height: 800px;
  overflow: scroll;
  flex-grow: 1;
}

.discord-container {
  flex-grow: 1;
}

.discord-container iframe {
  max-width: 100vw;
  width: 100%;
  height: 800px;
  overflow: auto;
}

.extra-content {
  justify-content: center;
  margin-top: 25px;
}
