#schedule {
  user-select: none;
}

.dev-post img {
  height: 100px;
  width: 400px;
}

.twitter-container {
  width: 50vh;
  max-height: 800px;
  overflow: scroll;
}

.discord-container {
  width: 50vh;
  height: 800px;
}
.discord-container iframe {
  width: 50vh;
  height: 800px;
  overflow: auto;
}
