#info-view .links {
  text-align: center;
}

#info-view .links a {
  color: #3a3a3a;
  margin: 7px;
}

#info-view .links a:hover {
  color: #f89b6a;
}
#info-view .discord a:hover {
  color: #7289da;
}
#info-view .twitter a:hover {
  color: #50abf1;
}
#info-view .facebook a:hover {
  color: #4867aa;
}
#info-view .instagram a:hover {
  color: #e55053;
}
#info-view .youtube a:hover {
  color: #cc0000;
}

#info-view .links {
  font-size: 36px;
}
