#switch {
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 32px 8px;
}

.App {
  display: flex;
  min-height: 100vh;

  flex-direction: column;
  justify-content: center;
}

.app-content {
  flex-grow: 1;
  justify-self: center;
}

.user-mention {
  color: #24292e;
  font-weight: 600;
}
