.markdown-content {
  word-break: break-word;
  overflow-wrap: break-word;
  padding-left: 15px;
}

.markdown-title {
  padding-left: 0px;
}

/* p {
  padding-left: 15px;
} */

.react-markdown > p {
  padding-left: 15px;
  /* margin-top: 0px !important; */
}
