@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: "BNRoute22";
  src: url("./assets/fonts/BNRoute22.otf");
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: BNRoute22;
}
#navbar-main {
  font-size: 1.5em !important;
}

#brand {
  font-family: BNRoute22;
  font-size: 1em !important;
}

code {
  font-family: Inter;
}
